@model ClasificacionPeliculasModel.Moviescategory

@{
    ViewData["Title"] = "Crear categoría película";
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <form asp-action="Create">
                    <div class="card-header">@ViewData["Title"]</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <p class="control-label">Película</p>
                                <select asp-for="Movie_Id" asp-items="@Model.Movies" class="form-control" onchange="MovieChanged('@Url.Action("GetMovieJson", "Movies")');"></select>
                                <span asp-validation-for="Movie_Id" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <p class="control-label">Categoría</p>
                                <select asp-for="Category_Id" asp-items="@Model.Categories" class="form-control"></select>
                                <span asp-validation-for="Category_Id" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/moviescategories.js"></script>
   
}