@model ClasificacionPeliculasModel.Moviescategory

@{
    ViewData["Title"] = "Detalles categoría película";
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                
                    <input type="hidden" asp-for="Id" />
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                            <p class="control-label">Película</p>
                                <select asp-for="Movie_Id" asp-items="@Model.Movies" class="form-control" disabled></select>
                            <span asp-validation-for="Movie_Id" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                            <p class="control-label">Categoría</p>
                            <select asp-for="Category_Id" asp-items="@Model.Categories" class="form-control" disabled></select>
                            <span asp-validation-for="Category_Id" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a asp-action="Index" class="btn btn-danger">Regresar</a>
                    </div>
                
            </div>
        </div>
    </div>
</section>