@model ClasificacionPeliculasModel.Moviescategory

@{
    ViewData["Title"] = "Editar categoría película";
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <p class="control-label">Película</p>
                                <select asp-for="Movie_Id" asp-items="@ViewBag.Movies" class="form-control"></select>
                                <span asp-validation-for="Movie_Id" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <p class="control-label">Categoría</p>
                                <select asp-for="Category_Id" asp-items="@Model.Categories" class="form-control"></select>
                                <span asp-validation-for="Category_Id" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Grabar" class="btn btn-primary" /> <a asp-action="Index" class="btn btn-danger">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>