@model ClasificacionPeliculasModel.Category

@{
    ViewData["Title"] = "Detalles de la categoría";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a asp-action="Index" class="btn btn-danger">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</section>
